[Desktop Entry]
Type=Application
Version=1.0
Name=Kernel Manager
Name[it]=Gestore del Kernel
Name[ja]=カーネルマネージャー
GenericName=Kernel Manager
GenericName[it]=Gestore del Kernel
GenericName[ja]=カーネルマネージャー
Keywords=system;kernel;
Keywords[it]=sistema;kernel;
Keywords[ja]=system;kernel;システム;カーネル
Exec=kernel-manager
Comment=Manage kernels
Comment[it]=Gestisci i kernel
Comment[ja]=カーネルを管理
Icon=org.archlinux.KernelManager
Terminal=false
StartupNotify=false
Categories=Qt;System;
X-AppStream-Ignore=true
